
<div class="col-lg-3">   <!--side menu-->
    <h3>Menu</h3>
    <hr>
    <div class="list-group menu-item">
        <a class="list-group-item" style="background-color: #7FB3D5; border-color:#7FB3D5;color: white"> <img src="images/fb/sms.png" style="width: 30px;height: 30px">&nbsp;&nbsp;&nbsp;<strong>SMS Messaging</strong></a>
        <a href="sms/sendMessage"  class="list-group-item">SMS</a>
        <a href="sms/sendMessageByProject"  class="list-group-item">SMS By Project wise</a>
        <a href="sms/deliveryReport" class="list-group-item">SMS Report</a>
        <a href="sms/group" class="list-group-item">Groups</a>
        <a href="sms/members" class="list-group-item">Contacts</a>
        <a class="list-group-item" style="background-color: #3b5998; border-color:#3b5998;color: white"> <img src="images/fb/fb.png" style="width: 30px;height: 30px">&nbsp;&nbsp;&nbsp;<strong>Facebook Messaging</strong></a>
        <a href="fb/advancedMessage" class="list-group-item">Facebook Message</a>
        <a href="fb/fbMessageReport" class="list-group-item">Message Report</a>
    </div>
</div>