
<div valign='center'>

    <div class="container">

        <div class="panel-group">

            <spinner name="html5spinner" ng-cloak="">
                <div class="overlay"></div>
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
                <div class="please-wait">Please Wait...</div>
            </spinner>

            <div class="panel panel-info">

                <div class="panel-heading">Change Password</div>

                <div class="panel-body">

                    <form class="form form-horizontal" name="passwordChangeForm" novalidate>

                        <div class="form-group" ng-class="{'has-error':isOldPasswordValid(passwordChangeForm.oldPassword),'has-success':(isOldPasswordValid(passwordChangeForm.oldPassword) == false)}">

                            <label class="control-label col-md-3" for="oldPassword">Old Password</label>

                            <div class="col-md-9">

                                <input type="password" class="form-control" name="oldPassword"
                                       class="form-control" id="oldPassword" ng-model="oldPassword" required>

                            </div>

                        </div>

                        <div class="form-group" ng-class="{'has-error':isPasswordInvalid(passwordChangeForm.newPassword),
								'has-success':isPasswordValid(passwordChangeForm.newPassword)}">

                            <label class="control-label col-md-3" for="newPassword">New Password</label>

                            <div class="col-md-9">

                                <input type="password" class="form-control" name="newPassword" id="newPassword" ng-pattern="/(?=.*\d)(?=.*[A-Z])(?=.*[@#$%_*^!&()|/~`])/" ng-blur="showmsg = false" ng-focus="showmsg = true" ng-minlength="8" ng-maxlength="20" class="form-control" ng-model='newPassword' required>

                                <p class="help-block ng-hide" ng-show="showmsg">Should be minimum 8 characters and maximum 20 characters and must contain atleast one Capital letter, Special Character and a number</p>

                            </div>

                        </div>

                        <div class="form-group" ng-class="{'has-error':isRePasswordValid(passwordChangeForm.newPassword,passwordChangeForm.reNewPassword),'has-success':(isRePasswordValid(passwordChangeForm.newPassword,passwordChangeForm.reNewPassword) == false)}">

                            <label class="control-label col-md-3" for="reNewPassword">Reenter Password</label>

                            <div class="col-md-9">

                                <input type="password" class="form-control" name="reNewPassword"
                                       class="form-control" id="reNewPassword" ng-model='reNewPassword' required>

                            </div>

                        </div>

                        <div align="center" class="form-group">

                            <button class="btn btn-success" ng-click='updatePassword(passwordChangeForm.newPassword)' ng-disabled="!passwordChangeForm.$valid
					              || !isPasswordEditFormValid ">Update</button>

                            <button class="btn btn-success" ng-click='onCancelChangePassword()'>Cancel</button><br>

                        </div>

                    </form>

                </div>

            </div>

        </div>


        <div align="center">

            <div style="width: 300px; height: 10px;" id="result" ng-show="showUpdatedAlert()">

                <div class="alert alert-success"><button type="button" class="close" ng-click="closeAlert()">×</button>Password Changed!</div>

            </div>

        </div>


    </div>

</div>
