/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 630px}

/* Set gray background color and 100% height */
.sidenav1 {
    background-color: #f1f1f1;
    height: 100%;
}



/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}
.pre1 {
    display: block;
    font-size: 10px;
    height:auto;
    width:auto;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    padding: 5px;



}

body {
    font-family: cursive;

}
.chip {
    display: inline-block;
    padding: 0 15px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}
.chip1 {
    display: inline-block;
    padding: 0 15px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #71f12b;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.container{
    padding-top:80px;
    height: 90%;
}
.chatbox{
    height: 300px;
    overflow-y:scroll;
    border-radius: 0px;
    border: solid 1px #BDBDBD;
}
.msg_box{
    border-radius: 0px;
    border: solid 1px #BDBDBD;
    background-color:white;

}
.user li{
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}

.you{
    font-size: 10px;
    float: right;
    color: #353535;
}
p{
    margin: 50px;
}
.sender{
    font-size: 15px;
    margin-right: 200px;
    font-style:inherit;
    color: #3845ff;
}
.sender_msg{
    padding-center: 25px;
}

.text{
    /*padding: 1px;*/
    /*background-color:light-grey;*/
    /*/*box-shadow: 1px 1px 1px grey;*/
    /*width: auto;*/

}
.test {
    width: 5em;
    word-wrap: break-word;
    /*width: auto;*/

}

.attach
{
    margin-left:650px;
}

