
<spinner name="html5spinner" ng-cloak="">
    <div class="overlay"></div>
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
    <div class="please-wait">Please Wait...</div>
</spinner>

<nav class="nav navbar-dark bg-primary" role="navigation">
    <div class="nav-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <label class="navbar-brand">Crisp Cloud Solutions</label>

    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">


            <li><a ng-click='goToDashboard()' style="color:white"><span class="glyphicon glyphicon-arrow-left"></span></a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="color:white"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
                <ul class="dropdown-menu" role="menu">

                    <li align='right'>
n
                        <a ng-click='onLogout()'>

                            <span class="glyphicon glyphicon-log-out"></span>Log Out

                        </a>

                    </li>

                </ul>

            </li>

        </ul>
    </div>
</nav>

<div class="container">

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <div class="row pull-right">

                    <div class="input-group">
                        <input type="text" ng-model="search" class="form-control" placeholder="Search Profile">
                        <span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
                    </div>

                </div>
                <h1 class="page-header">Profiles</h1>

            </div>
            <!-- /.col-lg-12 -->
        </div>

        <div class="row">

            <div ng-repeat='user in userDetailsFilter | filter:search'>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-7">

                                    <div>

                                        <label>{{((user.firstName)?user.firstName:((user.fbFirstName)?user.fbFirstName:((user.googleFirstName)?user.googleFirstName:'')))+ ' ' + ((user.middleName)?user.middleName:'') + ' ' + ((user.lastName)?user.lastName:'')}}</label>

                                    </div>

                                    <div>

                                        <label>{{((user.contact)?user.contact:'Contact Empty')}}</label>

                                    </div>

                                    <div>

                                        <label>{{((user.email)?user.email:'Email unavailable') }}</label>

                                    </div>

                                </div>
                                <div class="col-xs-5 text-right">
                                    <div class="pull-right">

                                        <input type="image" class="img-responsive" width="50" ng-src="{{getImageSrcProfile(user)}}">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <a data-toggle="modal" data-target="{{'#'+user.id}}">
                            <div class="panel-footer">
                                <span class="pull-left">View Profile</span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div id="{{user.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{((user.firstName)?user.firstName:((user.fbFirstName)?user.fbFirstName:((user.googleFirstName)?user.googleFirstName:'')))+ '' + ((user.middleName)?user.middleName:'') + '' + ((user.lastName)?user.lastName:'')}}</h4>
                            </div>

                            <div class="modal-body">

                                <div class="row"  ng-show = "(user.userid)?true:false">

                                    <form role="form" class="form-horizontal">

                                        <div class="col-md-4" >

                                            <div class="form-group">

                                                <input type="image" style="padding: 2px" class="img-responsive" width="300" ng-src="{{getImageSrc(user.profilePic)}}">

                                            </div>

                                        </div>

                                        <div class="col-md-8">

                                            <div class="form-group">

                                                <div>

                                                    <label class="label-align col-md-5">UserId/Reg No</label>

                                                    <div class="col-md-7">

                                                        <label>{{user.userid}}</label>

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="form-group" >

                                                <label class="label-align col-md-5">Email</label>

                                                <div class="col-md-7">

                                                    <label>{{user.email}}</label>

                                                </div>

                                            </div>

                                            <div class="form-group" >

                                                <label class="label-align col-md-5">Contact</label>

                                                <div class="col-md-7">

                                                    <label>{{user.contact}}</label>

                                                </div>

                                            </div>

                                            <div class="form-group">

                                                <label class="label-align col-md-5">Address</label>

                                                <div class="col-md-7">

                                                    <label >{{user.address}}</label>

                                                </div>

                                            </div>

                                            <div class="form-group">

                                                <label class="label-align col-md-5">College</label>

                                                <div class="col-md-7">

                                                    <label>{{user.college}}</label>

                                                </div>

                                            </div>

                                            <div class="form-group">

                                                <label class="label-align col-md-5">Course</label>

                                                <div class="col-md-7">

                                                    <label>{{user.course}}</label>

                                                </div>

                                            </div>

                                            <div class="form-group">

                                                <label class="label-align col-md-5">Branch</label>

                                                <div class="col-md-7">

                                                    <label>{{user.branch}}</label>

                                                </div>

                                            </div>

                                            <div class="form-group">

                                                <label class="label-align col-md-5">Year</label>

                                                <div class="col-md-7">

                                                    <label>{{user.year}}</label>

                                                </div>

                                            </div>

                                            <div class="form-group">

                                                <label class="label-align col-md-5">Project Cost</label>

                                                <div class="col-md-7">

                                                    <label>{{user.projectFees}}</label>

                                                </div>

                                            </div>

                                            <div class="form-group">

                                                <label class="label-align col-md-5">Amount Paid</label>

                                                <div class="col-md-7">

                                                    <label>{{user.feesPaid}}</label>

                                                </div>

                                            </div>

                                            <div class="form-group">

                                                <label class="label-align col-md-5">Balance Amount</label>

                                                <div class="col-md-7">

                                                    <label>{{user.feesBalance}}</label>

                                                </div>

                                            </div>
                                        </div>

                                    </form>

                                </div>

                                <div class="row" ng-show = "(user.facebookImage)?true:false">

                                    <form role="form" class="form-horizontal">

                                        <div class="col-md-4" >

                                            <div class="form-group">

                                                <input type="image" class="img-responsive" width="300" ng-src="{{getImageSrc(user.facebookImage)}}">

                                            </div>

                                        </div>

                                        <div class="col-md-8">

                                            <div class="form-group">

                                                <div>

                                                    <label class="label-align col-md-5">Facebook Profile Name</label>

                                                    <div class="col-md-7">

                                                        <label>{{user.fbFirstName + '' + ((user.fbMiddleName)?user.fbMiddleName:'') + '' + ((user.fbLastName)?user.fbLastName:'')}}</label>

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="form-group" >

                                                <label class="label-align col-md-5">Email</label>

                                                <div class="col-md-7">

                                                    <label>{{user.fbEmail}}</label>

                                                </div>

                                            </div>

                                        </div>

                                    </form>

                                </div>

                                <div class="row" ng-show = "(user.googleImage)?true:false">

                                    <form role="form" class="form-horizontal">

                                        <div class="col-md-4" >

                                            <div class="form-group">

                                                <input type="image" class="img-responsive" width="300" ng-src="{{getImageSrc(user.googleImage)}}">

                                            </div>

                                        </div>

                                        <div class="col-md-8">

                                            <div class="form-group">

                                                <div>

                                                    <label class="label-align col-md-5">Google Profile Name</label>

                                                    <div class="col-md-7">

                                                        <label>{{user.googleFirstName + '' + ((user.googleMiddleName)?user.googleMiddleName:'') + '' + ((user.googleLastName)?user.googleLastName:'')}}</label>

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="form-group" >

                                                <label class="label-align col-md-5">Email</label>

                                                <div class="col-md-7">

                                                    <label>{{user.googleEmail}}</label>

                                                </div>

                                            </div>

                                        </div>

                                    </form>

                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="col-sm-offset-4" style="padding: 0px">

        <pagination
                ng-model="cur_page"
                total-items="totalLength"
                items-per-page="items_per_page"
                max-size="max_size"
                boundary-links="true">
        </pagination>

    </div>

</div>