<div ng-controller='profileViewModalController'>

    <div class="panel panel-info">

        <div class="panel-heading">

            Choose the Profile View

        </div>

        <div class="panel-body center-block">

            <ul class="nav nav-pills nav-stacked span2">
                <li><a ng-click="showView('local')">Local View</a></li>
                <li><a ng-click="showView('facebook')">Facebook View</a></li>
                <li><a ng-click="showView('google')">Google View</a></li>
            </ul>

        </div>

    </div>

</div>
